/*font-family: 'Big Shoulders Inline Text', cursive;
font-family: 'Buda', cursive;
font-family: 'Bungee Hairline', cursive;
font-family: 'Gruppo', sans-serif;
font-family: 'IM Fell DW Pica', serif;
font-family: 'IM Fell DW Pica SC', serif;
font-family: 'Jura', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Shippori Mincho B1', serif;
font-family: 'Yuji Syuku', serif;*/

/*linear-gradient(
      0deg,
      rgba(85, 56, 73, 0.357),
      rgba(210, 202, 208, 0.552)
    ),
    
      2deg,
      rgba(58, 105, 147, 0.484),
      rgba(246, 202, 126, 0.739)*/

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #3865dc;
  overflow-x: hidden;
}
.hero {
  min-height: 100vh;
  margin-top: 48px;
  background-image: linear-gradient(
    0deg,
    rgba(59, 31, 48, 0.558),
    rgba(93, 78, 86, 0.432)
  );
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;
}
#background-video {
  height: 100vh;
  width: 100vw;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  object-position: 50% 70%;
  z-index: -1;
}

.hero h1 {
  position: relative;
  top: 36vh;
  font-size: 82px;
  text-align: center;
  color: rgb(222, 212, 212);
  font-family: "Jura", sans-serif;
  font-weight: 900;
}
.hero h3 {
  position: relative;
  text-align: center;
  top: 37vh;
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  opacity: 1;
  color: rgb(222, 214, 214);
  font-size: 26px;
}

.work-cover {
  background-color: #3864dc5b;
  width: 100vw;
}
