/*font-family: 'Big Shoulders Inline Text', cursive;
font-family: 'Buda', cursive;
font-family: 'Bungee Hairline', cursive;
font-family: 'Gruppo', sans-serif;
font-family: 'IM Fell DW Pica', serif;
font-family: 'IM Fell DW Pica SC', serif;
font-family: 'Jura', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Shippori Mincho B1', serif;
font-family: 'Yuji Syuku', serif;*/

/*linear-gradient(
      0deg,
      rgba(85, 56, 73, 0.357),
      rgba(210, 202, 208, 0.552)
    ),
    
      2deg,
      rgba(58, 105, 147, 0.484),
      rgba(246, 202, 126, 0.739)*/

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #3865dc;
}

.hero {
  margin-top: 55px;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      2deg,
      rgba(58, 105, 147, 0.484),
      rgba(246, 202, 126, 0.739)
    ),
    url("/media/maxim-berg-2-3-unsplash.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero h1 {
  position: relative;
  top: 40vh;
  font-size: 76px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Jura", sans-serif;
  font-weight: 900;
}
.hero h3 {
  position: relative;
  text-align: center;
  top: 40vh;
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  opacity: 1;
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.work-cover {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    2deg,
    rgba(246, 202, 126, 0.739),
    rgba(58, 105, 147, 0.484)
  );
}
