/*font-family: 'Gruppo', sans-serif;
font-family: 'Jura', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Yuji Syuku', serif;

linear-gradient(
      0deg,
      rgba(85, 56, 73, 0.357),
      rgba(210, 202, 208, 0.552)
    ),
    
      2deg,
      rgba(58, 105, 147, 0.484),
      rgba(246, 202, 126, 0.739)*/

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #7a6b74;

  overflow-x: hidden;
}
.hero {
  min-height: 100vh;
  margin-top: 48px;
  background-image: linear-gradient(
    0deg,
    rgba(59, 31, 48, 0.558),
    rgba(93, 78, 86, 0.432)
  );
  position: relative;
  overflow: hidden;
}
.background-video {
  height: 100vh;
  width: 100vw;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  object-position: 50% 70%;
  z-index: -1;
}

.hero h1 {
  position: relative;
  top: 35vh;
  font-size: 78px;
  text-align: center;
  color: rgb(222, 212, 212);
  font-family: "Jura", sans-serif;
  font-weight: 900;
}
.hero h3 {
  position: relative;
  text-align: center;
  top: 36vh;
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  opacity: 1;
  color: rgb(222, 214, 214);
  font-size: 26px;
}

.works-thumbnail {
  background-color: rgba(54, 54, 54, 0.945);
  margin-bottom: 30px;
  border: 1px solid rgba(9, 9, 9, 0.043);
}
.about-me-intro {
}

.intro-text {
  background-image: linear-gradient(
      0deg,
      rgba(51, 35, 45, 0.618),
      rgba(93, 78, 86, 0.555)
    ),
    url("/media/4.mp4_snapshot_00.05_[2023.06.10_17.12.29].png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro-text p {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  color: rgb(22, 21, 21);
  margin: 60px auto;
  max-width: 740px;
  padding: 30px auto;
}

.profile-pic {
  z-index: -1;
}

@media (max-width: 992px) {
  .intro-text p {
    font-size: 15px;
    margin-top: 18%;
    margin-right: 30px;
  }
}
@media (max-width: 768px) {
  .intro-text p {
    font-size: 14px;
    margin: 30px;
  }
  .hero h1 {
    top: 35vh;
    font-size: 70px;
    margin-right: 20px;
  }
  .hero h3 {
    font-size: 22px;
  }
}
